# Core functionality - changes here should be rare!
/src/app.py                   @Yassine-xflash
/src/backend/database.py      @Yassine-xflash
/src/backend/routers/auth.py  @Yassine-xflash

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Yassine-xflash
